@import "~bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);

body  {
  font-family: 'Montserrat', sans-serif;
}

.booking-container  {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: $spacer;

}

.booking-centered-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booking-image  {
  filter: brightness(70%);
  transition: .5s ease;
  height: 180px;
  width: 300px;


  @include media-breakpoint-up(sm) {
    height: 130px;
    width: 250px;
  }

  @include media-breakpoint-up(md) {
    height: 180px;
    width: 300px;
  }

  @include media-breakpoint-up(lg) {
    height: 180px;
    width: 300px;
  }

  @include media-breakpoint-up(xl) {
    height: 200px;
    width: 320px;
  }
}

.booking-container:hover .booking-image {
  filter: brightness(100%);
}

.container {
  margin-top: 2rem;
}

.footer {
  color: darkgrey;
  background: $dark;
  padding: $spacer;
  div {
    padding-top: 0.3em;
  }
  a {
    font-size: 1.3em;
    padding-top: 0.3em;
    text-decoration: none;
    color: inherit;
  }
}

.cover-image  {
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel{
  height: 200px;
  max-width: 100vw;
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}

.activity-container {
  h2  {
    margin-bottom: 2 * $spacer;
  }

  .activity-info > *  {
    margin-bottom: 2 * $spacer;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

}


.sel-left {
  float: left;
}

.sel-right  {
  float: right;
}

.blog-preview {
  img {
    max-height: 300px;
    max-width: 500px;
    margin-bottom: $spacer;
  }

  a {
    color: black!important;
  }

  margin-bottom: 3 * $spacer;
}

.blog-text  {
  padding-left: 15%;
  padding-right: 15%;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  > * {
    margin-bottom: 2 * $spacer;
  }

  @include media-breakpoint-up(xs) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 0%;
    padding-right: 0%;
  }

  @include media-breakpoint-up(md) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 15%;
    padding-right: 15%;
  }
}
